.sekai-basic-button {
  padding: 5px 10px;
  border-radius: 10px;
  min-height: 40px;
  &:disabled {
    opacity: 0.5;
    &:hover {
      background-color: transparent;
    }
  }
}

.sekai-basic-button-light {
  @extend .sekai-basic-button;
  border: 2px solid var(--sekai-color);
  &:hover {
    background-color: var(--sekai-color-hover);
  }
  &:focus-visible {
    outline: 1px solid var(--sekai-color);
  }
}

.sekai-basic-button-dark {
  @extend .sekai-basic-button;
  border: 2px solid var(--sekai-color);
  &:hover {
    background-color: var(--sekai-color-hover);
  }
  &:focus-visible {
    outline: 1px solid var(--sekai-color);
  }
}
