.sekai-marquee-text {
  background-color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sekai-marquee-text-wrap-comp {
  position: relative;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(
      to left,
      var(--background-color-container) 0%,
      transparent 100%
    );
    pointer-events: none;
    z-index: 1;
  }
}

@keyframes textScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sekai-marquee-text-scroll {
  max-width: 100%;
  overflow: hidden;

  .sekai-marquee-text-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover,
  &:focus {
    .sekai-marquee-text-string,
    .sekai-marquee-text-wrap {
      display: inline-block;
      overflow: visible;
      animation: textScroll var(--scroll-duration, 5s) linear infinite;
    }
  }
}
