@use 'sass:color';

/* Styles for common color */
$color-text-light: #212121;
$color-text-dark: #e0e0e0;
$color-text-disabled-light: color.mix(white, $color-text-light, 55%);
$color-text-disabled-dark: color.mix(black, $color-text-dark, 55%);
$color-bg-light: #ffffff;
$color-bg-dark: #121212;
$color-overlay-light: #00000063;
$color-overlay-dark: #ffffff4d;
$color-overlay-blur: #00000014;
$color-error-text: #ea5532;

/* Styles for z-index */
$overlay-z-index: 1000;
$dropdown-z-index: 1100;
$scrolltop-z-index: 1150;
$drawer-z-index: 1200;
$tooltip-z-index: 1250;
$modal-z-index: 1300;

/* Styles for common classes */
.sekai-text-light {
  color: $color-text-light;
}
.sekai-text-dark {
  color: $color-text-dark;
}

.sekai-color-light {
  color: $color-text-light;
  background-color: $color-bg-light;
}

.sekai-color-dark {
  color: $color-text-dark;
  background-color: $color-bg-dark;
}

.sekai-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $overlay-z-index;
}

.sekai-overlay-light {
  @extend .sekai-overlay;
  background-color: $color-overlay-light;
}

.sekai-overlay-dark {
  @extend .sekai-overlay;
  background-color: $color-overlay-dark;
}

.sekai-overlay-blur {
  @extend .sekai-overlay;
  background-color: $color-overlay-blur;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Styles for positioning */
.sekai-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sekai-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for scroll */
.sekai-invisible-scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

/* Styles for margin space */
.sekai-mb-8 {
  margin-bottom: 8px;
}

.sekai-mb-16 {
  margin-bottom: 16px;
}

.sekai-mb-24 {
  margin-bottom: 24px;
}

// Styles for text font
.text-responsible-body {
  font-size: 16px;
}
@media (min-width: 768px) {
  .text-responsible-body {
    font-size: 14px;
  }
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-2xl {
  font-size: 24px;
}

.text-base-bold {
  font-size: 16px;
  font-weight: bold;
}

.text-lg-bold {
  font-size: 18px;
  font-weight: bold;
}

.text-xl-bold {
  font-size: 20px;
  font-weight: bold;
}

.text-2xl-bold {
  font-size: 24px;
  font-weight: bold;
}

.font-bold {
  font-weight: bold;
}
