@use '../../styles/global.module.scss' as global;

@mixin chip-border-radius($size) {
  border-top-left-radius: $size;
  border-bottom-left-radius: $size;
  border-top-right-radius: $size;
  border-bottom-right-radius: $size;
}

.sekai-chip {
  display: flex;
  align-items: center;
  gap: 4px;

  &-filled {
    background-color: var(--sekai-bg-color);
    &:focus-visible {
      outline: 2px solid var(--sekai-color);
    }
  }
  &-outlined {
    background-color: transparent;
    border: 2px solid var(--sekai-color);
  }
}
.sekai-chip-small {
  @extend .sekai-chip;
  @include chip-border-radius(11px);
  height: 18px;
  padding: 0 8px;
  .sekai-chip-label {
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
  }
}
.sekai-chip-medium {
  @extend .sekai-chip;
  @include chip-border-radius(14px);
  height: 24px;
  padding: 0 8px;
  .sekai-chip-label {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
  }
}
.sekai-chip-large {
  @extend .sekai-chip;
  @include chip-border-radius(18px);
  height: 32px;
  padding: 0 12px;
  .sekai-chip-label {
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
  }
}

.sekai-chip-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sekai-color);
  border: none;
  border-radius: 50%;
  font-weight: 800;
  margin: 0;
  &-small {
    width: 12px;
    height: 12px;
    padding: 2px;
  }
  &-medium {
    width: 16px;
    height: 16px;
    padding: 3px;
  }
  &-large {
    width: 20px;
    height: 20px;
    padding: 4px;
  }

  &:focus-visible {
    outline: 2px solid var(--sekai-color);
  }
}
