$card-border-radius: 5px;

.sekai-card {
  box-shadow:
    0px 2px 1px -1px var(--sekai-color-shadow),
    0px 1px 1px 0px var(--sekai-color-shadow),
    0px 1px 3px 0px var(--sekai-color-shadow),
    0px -0.5px 1px 0px var(--sekai-color-shadow);
  border-radius: $card-border-radius;
  background-clip: padding-box;
  width: auto;

  &:focus-visible {
    outline: 1px solid var(--sekai-color);
    outline-offset: 3px;
  }
}

.sekai-card-content {
  padding: 16px;
  border-radius: $card-border-radius;
}

.sekai-card-title {
  margin: 0;

  &.sekai-underline {
    text-decoration: underline;
    text-decoration-color: var(--sekai-color);
  }
}
