@use 'sass:color';
@use '../../styles/global.module.scss' as global;

@mixin sekai-divider-shadow-light {
  box-shadow:
    0 1px 3px 0 #{color.mix(white, global.$color-bg-dark, 70%)},
    0 1px 1px 0 #{color.mix(white, global.$color-bg-dark, 60%)},
    0 2px 1px -1px #{color.mix(white, global.$color-bg-dark, 50%)};
}
@mixin sekai-divider-shadow-dark {
  box-shadow:
    0 1px 3px 0 #{color.mix(black, global.$color-bg-light, 70%)},
    0 1px 1px 0 #{color.mix(black, global.$color-bg-light, 60%)},
    0 2px 1px -1px #{color.mix(black, global.$color-bg-light, 50%)};
}

.sekai-divider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  height: fit-content;
}
.sekai-divider-fullWidth {
  @extend .sekai-divider;
  width: 100%;
}
.sekai-divider-inset {
  @extend .sekai-divider;
  width: 100%;
  padding-left: 72px;
}
.sekai-divider-middle {
  @extend .sekai-divider;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.sekai-divider-line {
  width: 100%;
  border: none;
  margin: 0;
  height: var(--divider-line-height);
  background: linear-gradient(45deg, var(--sekai-color), var(--sekai-pair-color));

  &.sekai-divider-shadow-light {
    @include sekai-divider-shadow-light;
  }
  &.sekai-divider-shadow-dark {
    @include sekai-divider-shadow-dark;
  }
}

.sekai-divider-with-item {
  display: flex;
  align-items: center;
  width: 100%;

  &::before {
    content: '';
    height: var(--divider-line-height);
    background: linear-gradient(45deg, var(--sekai-color), var(--sekai-pair-color));
    margin-right: 16px;
  }

  &::after {
    content: '';
    height: var(--divider-line-height);
    background: linear-gradient(45deg, var(--sekai-pair-color), var(--sekai-color));
    margin-left: 16px;
  }

  &.sekai-divider-shadow-light {
    &::before,
    &::after {
      @include sekai-divider-shadow-light;
    }
  }
  &.sekai-divider-shadow-dark {
    &::before,
    &::after {
      @include sekai-divider-shadow-dark;
    }
  }
}
.sekai-divider-with-item-center {
  @extend .sekai-divider-with-item;
  &::before,
  &::after {
    flex: 1;
  }
}
.sekai-divider-with-item-left {
  @extend .sekai-divider-with-item;
  &::before {
    flex: 1;
  }
  &::after {
    flex: 3;
  }
}
.sekai-divider-with-item-right {
  @extend .sekai-divider-with-item;
  &::before {
    flex: 3;
  }
  &::after {
    flex: 1;
  }
}
