@use '../../styles/global.module.scss' as global;

$side-menu-width: 250px;
$hamburger-size: 60px;
$contents-padding: 16px;

.sekai-side-menu {
  position: fixed;
  top: 0;
  height: 100%;
  width: $side-menu-width;
  box-sizing: border-box;
  background-color: var(--sekai-color-bg);
  transition: transform 0.3s ease-out;
  z-index: global.$drawer-z-index;
  overflow: hidden;
}
.sekai-side-menu-left {
  @extend .sekai-side-menu;
  left: 0;

  &.sekai-side-menu-open {
    transform: translateX(0);
  }

  &.sekai-side-menu-closed {
    transform: translateX(-($side-menu-width - $hamburger-size));
  }

  .sekai-side-menu-hamburger-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sekai-side-menu-contents {
    text-align: left;
    margin: $hamburger-size $contents-padding;
    margin-right: $hamburger-size;
  }
}
.sekai-side-menu-right {
  @extend .sekai-side-menu;
  right: 0;

  &.sekai-side-menu-open {
    transform: translateX(0);
  }

  &.sekai-side-menu-closed {
    transform: translateX($side-menu-width - $hamburger-size);
  }

  .sekai-side-menu-hamburger-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sekai-side-menu-contents {
    text-align: right;
    margin: $hamburger-size $contents-padding;
    margin-left: $hamburger-size;
  }
}

.sekai-side-menu-contents {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - $hamburger-size - $contents-padding);
  overflow: scroll;
}
