@use '../../styles/global.module.scss' as global;
@use 'sass:color';

$border-radius-px: 4px;
$border-line-width: 3.9px;

$xo-miku-color: #9ccdca;
$xo-miku-color-white: #f1f1f1;
$xo-miku-color-lightblue: #c4e6ed;
$xo-miku-color-blue: #76bfdb;

.sekai-dialog-visible {
  display: block;
}
.sekai-dialog-hidden {
  display: none;
}

.sekai-container {
  position: relative;
  box-sizing: border-box;
  max-width: 90vw;
  color: global.$color-text-light;
  border: $border-line-width solid $xo-miku-color;
  border-radius: $border-radius-px;
  background: linear-gradient(160deg, $xo-miku-color-white 40%, $xo-miku-color-lightblue 100%);
  z-index: global.$modal-z-index;
}
.sekai-container-narrow {
  @extend .sekai-container;
  width: 250px;
}
.sekai-container-medium {
  @extend .sekai-container;
  width: 390px;
}
.sekai-container-wide {
  @extend .sekai-container;
  width: 600px;
}

.sekai-content-wrap {
  padding: 16px;
}

/** Button styles */
.sekai-xomiku-button {
  margin-top: 16px;
  button {
    border-radius: 0 !important;
    border-color: $xo-miku-color !important;
  }
}
.sekai-xomiku-normal-button {
  &:hover {
    background-color: color.mix($xo-miku-color-white, $xo-miku-color-blue, 60%) !important;
  }
  &:disabled {
    color: global.$color-text-disabled-light !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}
.sekai-xomiku-strong-button {
  font-weight: bold;
  background-color: $xo-miku-color !important;
  &:hover {
    background-color: color.mix($xo-miku-color-white, $xo-miku-color-blue, 40%) !important;
  }
  &:disabled {
    color: global.$color-text-disabled-light !important;
    background-color: color.mix($xo-miku-color-white, $xo-miku-color, 10%) !important;
  }
}

/** xomikuSvg type1 styles */
.sekai-xomiku-svg-1-narrow {
  position: absolute;
  right: 8%;
  top: -24px;
  width: 40px;
  height: 40px;
}
.sekai-xomiku-svg-1-medium {
  position: absolute;
  right: 5%;
  top: -34px;
  width: 50px;
  height: 50px;
}
.sekai-xomiku-svg-1-wide {
  position: absolute;
  right: 3%;
  top: -44px;
  width: 60px;
  height: 60px;
}

.sekai-xomiku-svg-2-narrow {
  position: absolute;
  right: -12px;
  top: 10%;
  width: 25px;
  height: 25px;
}
.sekai-xomiku-svg-2-medium {
  position: absolute;
  right: -19px;
  top: 10%;
  width: 35px;
  height: 35px;
}
.sekai-xomiku-svg-2-wide {
  position: absolute;
  right: -20px;
  top: 10%;
  width: 36px;
  height: 36px;
}

/** xomikuSvg type2 styles */
.sekai-xomiku-svg-3-narrow {
  position: absolute;
  left: -12px;
  bottom: 20px;
  width: 25px;
  height: 25px;
}
.sekai-xomiku-svg-3-medium {
  position: absolute;
  left: -17px;
  bottom: 25px;
  width: 30px;
  height: 30px;
}
.sekai-xomiku-svg-3-wide {
  position: absolute;
  left: -18px;
  bottom: 27px;
  width: 33px;
  height: 33px;
}

.sekai-xomiku-svg-4-narrow {
  position: absolute;
  left: -19px;
  bottom: -19px;
  width: 35px;
  height: 35px;
}
.sekai-xomiku-svg-4-medium {
  position: absolute;
  left: -24px;
  bottom: -24px;
  width: 40px;
  height: 40px;
}
.sekai-xomiku-svg-4-wide {
  position: absolute;
  left: -24px;
  bottom: -30px;
  width: 45px;
  height: 45px;
}

.sekai-xomiku-svg-5-narrow {
  position: absolute;
  left: 25%;
  bottom: -16px;
  width: 30px;
  height: 30px;
}
.sekai-xomiku-svg-5-medium {
  position: absolute;
  left: 25%;
  bottom: -19px;
  width: 35px;
  height: 35px;
}
.sekai-xomiku-svg-5-wide {
  position: absolute;
  left: 25%;
  bottom: -25px;
  width: 40px;
  height: 40px;
}
