@use '../../styles/global.module.scss' as global;

$input-height: 40px;

.sekai-textfield-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.sekai-textfield-clear-button {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0;

  .sekai-textfield-clear-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}

.sekai-textfield-input {
  height: $input-height;
  line-height: 2.5;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 2px solid var(--sekai-color);
  border-radius: 3px;
  &:focus-visible {
    outline: 1px solid var(--sekai-color);
  }

  &.sekai-textfield-clear {
    padding-right: 40px;
  }
}

.sekai-textfield-input-light {
  @extend .sekai-textfield-input;
  color: global.$color-text-light;
  background-color: global.$color-bg-light;
}
.sekai-textfield-input-dark {
  @extend .sekai-textfield-input;
  color: global.$color-text-dark;
  background-color: global.$color-bg-dark;
}

.sekai-textfield-input-error {
  margin: 4px 0 4px 4px !important;
  color: global.$color-error-text !important;
}
