@use '../../styles/global.module.scss' as global;

.sekai-textarea-wrap {
  position: relative;

  .sekai-textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid var(--sekai-color);
    box-sizing: border-box;
    &-light {
      background: global.$color-bg-light;
    }
    &-dark {
      background: global.$color-bg-dark;
    }

    &:focus-visible {
      outline: 1px solid var(--sekai-color);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.sekai-text-counter {
  position: absolute;
  display: inline-block;
  line-height: 12px;
  font-size: 12px;
  right: 5px;
  bottom: 5px;
}
