.sekai-background-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .sekai-background {
    width: 100%;
    height: 100%;
    opacity: var(--bg-opacity);
    pointer-events: none;
  }
}
