body,
html,
button,
input,
select,
textarea,
.sbdocs-preview,
.sbdocs-p,
.sbdocs-li,
.sbdocs-a,
.sbdocs-td,
.sbdocs-th,
.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.sbdocs-title {
  font-family: Montserrat, sans-serif !important;
  font-weight: 600 !important;
}

.sidebar-header,
.sidebar-item,
.sidebar-subheading,
.search-field input {
  font-family: 'Montserrat', sans-serif !important;
}

.sidebar-item:hover {
  background-color: #ffc8005a !important;
}

.docs-story {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 100% !important;
  min-height: 250px !important;
}

.css-11xgcgt {
  z-index: 10000 !important;
}

/* Title customization */
.sidebar-header img {
  max-width: 40px !important;
  max-height: 40px !important;
}
.sidebar-header a {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
}
.sidebar-header a::after {
  content: 'Untitled' !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #333 !important;
}
